.header .latest-crypto{
    /* background-color: green; */
    height:400px;
}

.card-container{
    margin-top: 2.3rem;
    
    width:100%;
    /* background-color: aliceblue; */
    display: flex;
    flex-wrap: wrap;
    
}
.card-container .card{
    margin-left: 2rem;
    cursor: pointer;
    
}

.card-container .card:hover{
    background-color: rgb(116, 106, 106);
    color: aliceblue;
    transform: scale3d(1.3, 1.3, 1.3);
    transition: 2s;
}
.card-container .card img{
    
    width: 100px;
}

