.table-container{
    /* background-color: red; */
    font-size: 100%;
}

.table-container table{
    background-color: aqua;
    width:95%;
}

.table-container table tbody tr td{
    text-align: center;
    align-content: center;
}